.container{
    min-height: 100vh;
    margin-top: 4rem;
    padding: 0 1rem;
}

.contact-card {
    width: 16rem;
    height: 16rem;
    animation: fadeDown 1s ease-out forwards;
    transition: transform 0.5s ease-out;
}

@keyframes fadeDown {
    from {
        opacity: 0;
    transform: translateY(-30px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

.card-content{
    font-family: "Vazirmatn", sans-serif;
    color: #402c26;
}

.contact-content{
    padding-top: 2rem;
}
.contact-image-container{
    padding-left: 5.3rem;
    padding-right: 1rem;
}
.contact-image-container.rtl{
    padding-left: 1rem;
    padding-right: 5rem;
}
.contact-image{
    width: 100%;
    height: 32.5rem;
}

.contact-form {
    width: 85.5%;
    padding-left: 0;
    padding-bottom: 2rem;
}
.contact-form.rtl{
    padding-left: 0.5rem;
}

.contact-form .contact-form-content{
    padding: 2rem 1rem;
}

.contact-form h2{
    font-family: "Vazirmatn", sans-serif;
    color: #402c26;
    font-size: 3rem;
}

input,textarea{
    font-family: "Vazirmatn", sans-serif;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #402c26;
    border-bottom-color: #402c26;
    padding: 0.5rem;
}
textarea{
   padding: 0.5rem !important;
}
.form-inputs input::placeholder,textarea::placeholder {
    color: #402c26;
}

.form-inputs textarea{
    padding: 0;
}
.form-inputs input,textarea:focus{
    outline: none;
}

textarea.form-control:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}


input::placeholder.ng-touched.ng-invalid.ng-dirty,textarea::placeholder.ng-touched.ng-invalid.ng-dirty {
    color: white;
}
.error-message{
    background-color: white;
    color: #FF3333;
    padding: 0.2rem;
    font-size: 12px;

}
.sendbtn{
    font-family: "Vazirmatn", sans-serif;
    width:14rem;
    padding: 1rem 1.2rem;
    border-radius: 50px;
    border-color: #402c26;
    border-style: solid;
    background-color: #402c26;
    color: white;
    transition: background-color 0.5s ease, transform 0.1s ease;
}

.sendbtn:hover{
    background-color: #D9C5BF;
    color: #402c26;
    border-color: transparent;
}
.sendbtn:active{
    background-color: #FD7E35;
    color: white;
    transform: scale(0.95);
}
.error-star{
    font-size: 16px;
}
.success-alert {
  background-color: #d4edda;
  color: #155724;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid #c3e6cb;
  font-weight: 600;
}

@media (max-width: 320px){

  .container {
    margin-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .contact-card {
    width: 15rem;
  }

  .contact-image-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
  }
  .contact-image-container.rtl {
    padding-left: 1.8rem;
    padding-right: 1rem;
  }

  .contact-form {
    margin: auto;
  }

  .contact-form .contact-form-content {
    padding: 0.5rem;
  }

  .contact-form h2 {
    font-size: 1.3rem;
    text-align: center;
  }

  .contact-content {
    flex-direction: column-reverse;
  }

  .form-inputs-content {
    flex-direction: column;
  }

  .sendbtn {
    width: 100%;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .container {
    margin-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .contact-card {
    width: 18rem;
  }

  .contact-image-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
  }
  .contact-image-container.rtl {
    padding-left: 2rem;
    padding-right: 1.5rem;
  }

  .contact-form {
    margin: auto;
  }

  .contact-form .contact-form-content {
    padding: 0.5rem;
  }

  .contact-form h2 {
    font-size: 1.3rem;
    text-align: center;
  }

  .contact-content {
    flex-direction: column-reverse;
  }

  .form-inputs-content {
    flex-direction: column;
  }

  .sendbtn {
    width: 100%;
  }
}

@media (min-width: 376px) and (max-width: 426px) {
  .container {
    margin-top: 1.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .contact-card {
    width: 20rem;
  }

  .contact-image-container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .contact-image-container.rtl {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .contact-form {
    margin: auto;
    width: 100%;
    padding: 0 2rem;
  }
  .contact-form.rtl{
    padding-left: 1.8rem;
  }
  .contact-form .contact-form-content {
    padding: 0.75rem;
  }

  .contact-form h2 {
    font-size: 1.4rem;
    text-align: center;
  }

  .contact-content {
    flex-direction: column-reverse;
  }

  .form-inputs-content {
    flex-direction: column;
  }

  .sendbtn {
    width: 100%;
  }
}

@media (min-width: 427px) and (max-width: 767.98px) {
.container {
    margin-top: 2rem;
  }
  .contact-card {
    width: 28rem;
  }
  .contact-image-container{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .contact-image-container.rtl{
    padding-left: 2rem;
    padding-right: 1.5rem;
  }
  
  .contact-form{
    margin: auto;
    margin-top: 1rem;
  }
  .contact-form .contact-form-content {
    padding: 1rem;
  }

  .contact-form h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .contact-content{
    flex-direction:column-reverse;
  }
  .form-inputs-content{
    flex-direction: column;
  }

  .sendbtn {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contact-cards{
    padding-left: 1rem;
  }
  .contact-card {
    width: 19rem;
  }
  .contact-image-container{
    padding-left: 1.8rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
  .contact-image-container.rtl{
    padding-left: 1.8rem;
    padding-right: 1rem;
  }
  .contact-image{
    width: 100%;
  }
  .contact-form{
    margin: auto;
    width: 100%;
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .contact-form.rtl{
    padding-left: 2rem;
    padding-right:1rem ;
  }
  .contact-form h2 {
    font-size: 2.5rem;
  } 
  .contact-content{
    flex-direction: column-reverse;
  }
  .form-inputs-content{
    flex-direction: column;
  }
  .sendbtn {
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    
  .contact-image-container{
    padding-right: 1rem;
    padding-left: 4rem;
  }
  .contact-image-container.rtl{
    padding-left: 1rem;
    padding-right: 4rem;
  }
  .contact-image{
    height: 35.9rem;
  }
  .contact-card {
    width:24rem;
    height: 16rem;
  }
.contact-form {
    width: 85.5%;
    padding-left: 0;
    padding-bottom: 2rem;
}
.contact-form.rtl{
    padding-left: 0.5rem;
}
  .contact-form h2 {
    font-size: 2rem;
  }
  .form-inputs-content{
    flex-direction: column;
  }

  .sendbtn {
    width: 14rem;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    
  .contact-image-container{
    padding-right: 1rem;
    padding-left: 4rem;
  }
  .contact-image-container.rtl{
    padding-left: 1rem;
    padding-right: 4rem;
  }
  .contact-image{
    height: 35.9rem;
  }
  .contact-card {
    width:30rem;
  }
  .contact-form {
    width: 85.5%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
  .contact-form.rtl{
    padding-left: 0.5rem;
  }
  .contact-form h2 {
    font-size: 2rem;
  }
  .form-inputs-content{
    flex-direction: column;
  }

  .sendbtn {
    width: 14rem;
  }
}