<section id="contact">
    <app-breadcrumb [breadcrumbHeading]="'CONTACT-US.Contact-Us'" />
    <div class="container">
        <div class="contact-cards d-flex flex-wrap gap-5 justify-content-center">
            @for( data of contact_data; track data.id){
                <p-card class="contact-card" [style]="{ width: '16rem',height: '16rem'}" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900">
                    <div class="card-content d-flex flex-column align-items-center">
                        <svg class="mb-4"   
                            [attr.width]="data.svg_width" 
                            [attr.height]="data.svg_height" 
                            [attr.viewBox]="data.svg_viewBox" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path [attr.d]="data.svg_path" 
                                    stroke="#FD7E35" 
                                    [attr.fill]="data.svg_fill"
                                    [attr.stroke-width]="data.svg_stroke_width" 
                                    [attr.stroke-linecap]="data.svg_stroke_linecap" 
                                    [attr.stroke_linejoin]="data.svg_stroke_linejoin" 
                                    stroke-miterlimit="10">
                                    </path>
                        </svg>                    
                        <h4>
                            {{ data.title| translate}}
                        </h4>
                        <span> {{ data.info| translate}}</span>
                    </div>
                </p-card>
            }
        </div>
    </div>
</section>