<section class="about-landing py-5 mb-20">
    <div class="container">
  
      <!-- Section Title -->
      <div class="section-heading text-center mb-5" data-aos="fade-down" data-aos-duration="1000">
        <h3 class="fw-bold display-6 gradient-text d-inline-block px-3 py-2 rounded-3 ">
          اكتشف تجربة إدارة متجرك <span class="emoji">🚀</span>
        </h3>
        <p class="lead text-muted mt-2 text-center">
          .أدوات ذكية <span class="emoji">✨</span> وواجهة احترافية تسهّل عليك كل شيء من أول منتج لحد الطلب
        </p>
      </div>
  
      <div class="row align-items-center">
        <!-- Image -->
        <div class="col-lg-6 mb-4 mb-lg-0 text-center bounce" data-aos="fade-left" data-aos-duration="1200">
          <object type="image/svg+xml" data="assets/images/in-the-office-animate(1).svg" class="img-fluid" width="100%" title="جاري التحميل.."></object>
        </div>

        <!-- Features -->
        <div class="col-lg-6 text-lg-end text-right">
          <h2 class="display-4 fw-bold mb-5" data-aos="fade-up" data-aos-duration="1000">
            منصة ذكية لإدارة متجرك 
          </h2>
          <ul class="list-unstyled">
            <li class="feature-item" data-aos="fade-up" data-aos-delay="100">
              .واجهة سلسة وسريعة لعرض منتجاتك بكل احترافية
              <i class="pi pi-bolt text-warning"></i>
            </li>
            <li class="feature-item" data-aos="fade-up" data-aos-delay="300">
              .تحكم كامل في كل تفاصيل متجرك من أي مكان
              <i class="pi pi-cloud-upload text-info"></i>
            </li>
            <li class="feature-item" data-aos="fade-up" data-aos-delay="500">
             . أنشئ حضورك الرقمي وابدأ البيع في دقائق
              <i class="pi pi-star text-success"></i>
            </li>
          </ul>
  
          <!-- Bootstrap Button -->
          <a href="#" class="btn  mt-5 rounded-pill px-5">
            جرّب المنصة الآن
          </a>
        </div>
      </div>
    </div>
  </section>