<section *ngIf="blog">
    <app-breadcrumb breadcrumbHeading="Blog details" />
    <div class="container">
      <div class="blog-details">
        <div class="blog-image d-flex justify-content-center">
          <img [src]="blog.image" [alt]="blog.title" data-aos="zoom-in"/>
        </div>
  
        <h3 class="blog-heading" data-aos="fade-left">{{ blog.title }}</h3>
  
        <div class="blog-content">
          <ng-container *ngFor="let block of blog.content">
            <!-- Heading and paragraph of blogs -->
            <p *ngIf="block.type === 'paragraph'" [innerHTML]="block.html" data-aos="fade-left"></p>
  
            <!-- Blog 2 list content -->
            <ul *ngIf="block.type === 'list' && block.listType === 'ul'" data-aos="fade-left">
              <li *ngFor="let item of block.items" [innerHTML]="item.html"></li>
            </ul>
  
            <!-- Blog 1 and Blog 3 list content -->
            <ol *ngIf="block.type === 'list' && block.listType === 'ol'" data-aos="fade-left">
              <li *ngFor="let item of block.items" [innerHTML]="item.html"></li>
            </ol>
          </ng-container>
        </div>
      </div>
    </div>
  </section>