section {
  background-color: #402c26;
  padding-block: 60px;
}

section h2 {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  margin-block: 50px;
}
/* ::ng-deep #pn_id_1 .p-carousel-item {
   flex: 0 0 calc(33.333% - 20px) !important;
  margin: 0 20px;
  box-sizing: border-box;
} */
::ng-deep
  .p-carousel
  .p-carousel-indicators
  .p-carousel-indicator.p-highlight
  button {
  background: #ffd666 !important;
  color: #ffd666 !important;
}
.custom-carousel .team-card {
  position: relative;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 40px 70px -15px rgba(0, 0, 0, 0.192);
  margin-inline: 3px;
  overflow: hidden;
}

.team-card img {
  max-width: 300px;
  height: 310px;
  object-fit: contain;
  display: block;
}

.team-card .overlay {
  position: absolute;
  content: "";
  bottom: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(239, 100, 76, 0) 64.05%,
    #ffd666 115.68%
  );
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  opacity: 0;
}

.team-card:hover .overlay {
  left: 0;
  opacity: 1;
  bottom: 60px;
  background: linear-gradient(
    180deg,
    rgba(239, 100, 76, 0) 64.05%,
    #ffd666 115.68%
  );
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
}

.tilt {
  border-radius: 5px;
  max-width: 277px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-out;
  transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
    scale3d(1.01, 1.01, 1.01);
  -webkit-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
    scale3d(1.01, 1.01, 1.01);
  -moz-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
    scale3d(1.01, 1.01, 1.01);
  -ms-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
    scale3d(1.01, 1.01, 1.01);
  -o-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
    scale3d(1.01, 1.01, 1.01);
}

.tilt:hover {
  transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
    scale3d(1.01, 1.01, 1.01);
  -webkit-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
    scale3d(1.01, 1.01, 1.01);
  -moz-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
    scale3d(1.01, 1.01, 1.01);
  -ms-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
    scale3d(1.01, 1.01, 1.01);
  -o-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
    scale3d(1.01, 1.01, 1.01);
}

/* .team-card .social-icons {
  */ /*display: flex;
  gap: 1rem;
  */ /*transform: translate(11px, 307px);
  -webkit-transform:;
  -moz-transform:;
  -ms-transform:;
  -o-transform:;
  */ /*transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: 0;
   */ /* :;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
} */

.team-card .social-icons i {
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.team-card .social-icons i:hover {
  background: #ffd666;
  color: #000;
  border-color: #ffd666;
}

.team-card .social-icons {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  left: 20px;
  bottom: 20px;
  transform: translateX(-120%);
  transition: all 0.8s ease-in-out;
  visibility: hidden;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.team-card:hover .social-icons {
  transform: translateX(0);
  visibility: visible;
  animation: animate__animated animate__slideInLeft;
  animation-duration: 0.5s;
}

.animate__slideInLeft {
  animation-name: slideInLeft;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.team-card .role {
  color: #aaa;
  margin: 0.5rem 0 0;
  font-size: 0.9rem;
  text-align: start;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

.team-card .name {
  color: #fff;
  margin: 0.2rem 0;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: start;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

@media (min-width: 320px) and (max-width: 767.98px) {
  ::ng-deep #pn_id_1 .p-carousel-container {
    overflow: hidden;
  }

  ::ng-deep #pn_id_1 .p-carousel-item {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
  }

  .team-card {
    margin: auto;
    max-width: 90%;
    overflow: hidden;
  }
}

  /* .tilt {
    border-radius: 5px;
    transform-style: preserve-3d;
    transform: perspective(800px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    -webkit-transform: perspective(800px) rotateX(0deg) rotateY(0deg)
      scale3d(1, 1, 1);
    -moz-transform: perspective(800px) rotateX(0deg) rotateY(0deg)
      scale3d(1, 1, 1);
    -ms-transform: perspective(800px) rotateX(0deg) rotateY(0deg)
      scale3d(1, 1, 1);
    -o-transform: perspective(800px) rotateX(0deg) rotateY(0deg)
      scale3d(1, 1, 1);
    max-width: 277px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }

  .tilt:hover {
    transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
      scale3d(1.01, 1.01, 1.01);
    -webkit-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
      scale3d(1.01, 1.01, 1.01);
    -moz-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
      scale3d(1.01, 1.01, 1.01);
    -ms-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
      scale3d(1.01, 1.01, 1.01);
    -o-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
      scale3d(1.01, 1.01, 1.01);
  } */

@media (min-width: 768px) {
   ::ng-deep #pn_id_1 .p-carousel-container {
    overflow: hidden;
  }
  ::ng-deep #pn_id_1 .p-carousel-item {
    flex: 0 0 50% !important;
    margin: auto;
    box-sizing: border-box;
  }
  .team-card {
    margin-left: 20px;
    overflow: hidden;
  }
  /* .tilt {
    border-radius: 5px;
    transform-style: preserve-3d;
    transform: perspective(800px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    -webkit-transform: perspective(800px) rotateX(0deg) rotateY(0deg)
      scale3d(1, 1, 1);
    -moz-transform: perspective(800px) rotateX(0deg) rotateY(0deg)
      scale3d(1, 1, 1);
    -ms-transform: perspective(800px) rotateX(0deg) rotateY(0deg)
      scale3d(1, 1, 1);
    -o-transform: perspective(800px) rotateX(0deg) rotateY(0deg)
      scale3d(1, 1, 1);
    max-width: 277px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }

  .tilt:hover {
    transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
      scale3d(1.01, 1.01, 1.01);
    -webkit-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
      scale3d(1.01, 1.01, 1.01);
    -moz-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
      scale3d(1.01, 1.01, 1.01);
    -ms-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
      scale3d(1.01, 1.01, 1.01);
    -o-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
      scale3d(1.01, 1.01, 1.01);
  } */
}
@media (min-width: 992px) {
  ::ng-deep #pn_id_1 .p-carousel-container {
    overflow: hidden;
  }

  ::ng-deep #pn_id_1 .p-carousel-item {
    flex: 0 0 33.3333% !important;
    max-width: 33.3333% !important;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .team-card {
    margin-inline: 40px !important;
    overflow: hidden;
  }
}

  /* .tilt {
    border-radius: 5px;
    transform-style: preserve-3d;
    transform: perspective(800px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    -webkit-transform: perspective(800px) rotateX(0deg) rotateY(0deg)
      scale3d(1, 1, 1);
    -moz-transform: perspective(800px) rotateX(0deg) rotateY(0deg)
      scale3d(1, 1, 1);
    -ms-transform: perspective(800px) rotateX(0deg) rotateY(0deg)
      scale3d(1, 1, 1);
    -o-transform: perspective(800px) rotateX(0deg) rotateY(0deg)
      scale3d(1, 1, 1);
    max-width: 277px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }

  .tilt:hover {
    transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
      scale3d(1.01, 1.01, 1.01);
    -webkit-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
      scale3d(1.01, 1.01, 1.01);
    -moz-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
      scale3d(1.01, 1.01, 1.01);
    -ms-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
      scale3d(1.01, 1.01, 1.01);
    -o-transform: perspective(800px) rotateX(-5.77deg) rotateY(6.25deg)
      scale3d(1.01, 1.01, 1.01);
  } */

