/* Styling for the main text container */
.hero-container{
  max-width: 1090px;
}
.hero-section {
  margin-top: 80px;
  min-height: calc(100vh - 80px); 
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
}
.hero-text{
    font-family: "Manrope", sans-serif;
    margin-top: 100px;
    /* Styling for the title */
    span{
        font-weight: 700;
        font-size: 50px;
        color: #402c26;
        line-height: 55px !important;
    }
    /* Styling for the subtitle */
    h5{
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 24px;
      font-weight: 700;
      color: #402c26;
      margin-bottom: 20px;
    }
}

/* Styling for the animated title*/

span .filled-text {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px #402c26;
  font-weight: bold;
  overflow: hidden;
}

.filled-text::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  color: #402c26;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 3s infinite alternate ease-in-out;
}

@keyframes fill-text {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}


/* Styling for the video button */
.video-button {
  background-color: #FFDE81;
  color: #402c26;
  border: none;
  border-radius: 50px;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Hover effect for the video button */
.video-button:hover {
  background-color: #402c26;
  color: white;
}

/* Styling for the play icon inside the video button */
.play-icon {
  background-color: white;
  color: #593c34;
  border-radius: 50%;
  padding: 5px;
  font-size: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Fullscreen overlay that covers the entire screen of popup */
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

/* Styling for video inside the fullscreen overlay */
.fullscreen-content {
  position: relative;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Close button styling in the video popup */
.close-button {
  position: absolute;
  top: -20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 24px;
  line-height: 30px;
  cursor: pointer;
  background: #402c26;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.close-button:hover {
  background: rgba(255, 255, 255, 1);
  color: #402c26;
}

.responsive-svg{
  width: 500px;
  height: 500px;
  padding-bottom: 50px;
  padding-right: 70px;
  transform: scale(1.12);
}
/* Hiding all elements with class 'animable' inside the SVG if the SVG is not animated */
svg#freepik_stories-in-no-time:not(.animated) .animable {
    opacity: 0;
}
/* Animation for the background of the SVG */
svg#freepik_stories-in-no-time.animated
  #freepik--background-complete--inject-108 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0s;
}
/* Animation for the floor element of the SVG */
svg#freepik_stories-in-no-time.animated #freepik--Floor--inject-108 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}

/* Animation for the device element of the SVG */
svg#freepik_stories-in-no-time.animated #freepik--Device--inject-108 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}

/* Animation for the second character element of the SVG */
svg#freepik_stories-in-no-time.animated
  #freepik--character-2--inject-108 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}
/* Animation for the first character element of the SVG*/
svg#freepik_stories-in-no-time.animated
  #freepik--character-1--inject-108 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
/* Animation for the speech bubble element of the SVG */
svg#freepik_stories-in-no-time.animated
  #freepik--speech-bubble--inject-108 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .hero-container{
    max-width: 730px;
  }
  .hero-text{
    margin-top: 80px;
  }
  .hero-text span {
    font-size: 36px;
    line-height: 50px;  
  }
  .hero-text h5 {
    font-size: 22px;
  }
  .video-button {
    padding: 5px 18px;
    font-size: 15px;
  }
  .responsive-svg{
    width: 400px;
    height: 400px;
    padding-right: 130px;
    padding-bottom: 35px;
    transform: scale(1.3);
  }
}

@media (max-width: 992px) {
  .hero-text span {
    font-size: 40px;
    line-height: 46px;
  }
  .hero-text h5 {
    font-size: 20px;
  }
  .video-button {
    padding: 4px 16px;
    font-size: 14px;
  }
  .play-icon {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }
  .responsive-svg{
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .hero-container{
    max-width: 700px;
  }
  .hero-text span {
    font-size: 32px;
    line-height: 40px!important;
  }
  .hero-text h5 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .video-button {
    padding: 4px 14px;
    font-size: 13px;
  }
  .fullscreen-overlay {
    padding: 20px;
  }
  .responsive-svg{
    width: 400px;
    height: 400px;
    padding-right: 0px;
    padding-bottom: 35px;
    transform: scale(1);
  }
}

@media (max-width: 576px) {
  .hero-text {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-text span {
    font-size: 35px;
    line-height: 32px;
  }
  .hero-text h5 {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .video-button {
    padding: 5px 12px;
    font-size: 16px;
  }
  .play-icon {
    width: 24px;
    height: 24px;
    font-size: 14px;
  }
  .close-button {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
  .responsive-svg{
    width: 300px;
    height: 300px;
    display: flex;
  }
}
@media (max-width: 376px) {
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-text span {
    font-size: 26px;
    line-height: 20px;
  }
  .hero-text h5 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .video-button {
    padding: 5px 12px;
    font-size: 12px;
  }
  .play-icon {
    width: 24px;
    height: 24px;
    font-size: 12px;
  }
  .close-button {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
  .responsive-svg{
    width: 250px;
    height: 250px;
  }
} 

