.my-navbar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
  -moz-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  transition: top 0.5s ease;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 80;
  position: fixed;
  padding: 0;
}

.nav-item .nav-link {
  transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  position: relative;
  box-shadow: none;
}
.nav-item .nav-link:hover {
  color: #fd6f1d !important;
  font-weight: 500;
  text-decoration: none;
}
.menu-bar {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.pi-bars {
  font-size: 1.5rem;
  color: #402c26;
  text-align: center;
}
.navbar-toggler {
  border: 1px solid #402c26 !important;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}
.navbar-brand {
  display: flex;
  align-items: center;
  padding: 0;
}

.my-section .nav-link {
  cursor: pointer;
  color: #402c26;
}

.pi-search,
.pi-shopping-cart {
  font-size: 1.2rem;
}
.btn-info {
  color: #604239 !important;
  border: 2px solid #604239 !important;
  background-color: transparent !important;
}

.dropdown button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* media query */
@media (min-width: 320px) and (max-width: 426px) {
  .show {
    display: block;
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .my-section {
    margin-top: -40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-nav li {
    padding-bottom: 1px;
  }
  .actives {
    color: white !important;
    background-color: #604239 !important;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 10px 20px 15px 20px;
  }
  .navbar-toggler {
    transform: translate(4px, -2px);
    -webkit-transform: translate(4px, -2px);
    -moz-transform: translate(4px, -2px);
    -ms-transform: translate(4px, -2px);
    -o-transform: translate(4px, -2px);
    margin-right: 16px;
    cursor: pointer;
  }

  .my-navbar img {
    margin-left: 2px;

    max-width: 140px;
  }
  .dropdown {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  html[dir="rtl"] .my-navbar,
  :lang(ar) .my-navbar {
    padding: 10px 0 !important;
  }
  html[dir="rtl"] .navbar-brand,
  :lang(ar) .navbar-brand {
    margin-right: -3px;
  }

  html[dir="rtl"] .dropdown,
  :lang(ar) .dropdown {
    left: 50%;
    transform: translateX(-50%);
  }

  html[dir="rtl"] .my-section ul,
  :lang(ar) .my-section ul {
    margin-left: 40px !important;
  }
  html[dir="rtl"] .my-navbar img,
  :lang(ar) .my-navbar img {
    max-width: 200px;
  }
}

@media (min-width: 768px) {
  .my-navbar {
    padding-block: 2px !important;
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 40px;
  }
  .navbar-nav li {
    padding-bottom: 8px;
  }
  .my-section {
    margin-top: -60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-toggler {
    transform: translate(6px, -2px);
    -webkit-transform: translate(6px, -2px);
    -moz-transform: translate(6px, -2px);
    -ms-transform: translate(6px, -2px);
    -o-transform: translate(6px, -2px);
    cursor: pointer;
  }
  .actives {
    color: white !important;
    background-color: #604239 !important;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 10px 20px 15px 20px;
  }
  .my-navbar img {
    margin-left: 13px;
    width: 150px;
    height: 150px;
  }

  .navbar-brand {
    padding-left: 0;
    font-size: 2rem;
    font-weight: 700;
  }
  .my-padding {
    padding-inline: 30px;
  }
  .dropdown {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  html[dir="rtl"] .my-navbar img,
  :lang(ar) .my-navbar img {
    max-width: 100px;
    max-height: 100px;
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
  }

  html[dir="rtl"] .dropdown,
  :lang(ar) .dropdown {
    left: 50%;
    transform: translateX(-50%);
  }

  html[dir="rtl"] .my-section ul,
  :lang(ar) .my-section ul {
    margin-top: 5px;
  }
}

@media (min-width: 992px) {
  .my-navbar {
    padding-block: 0px !important;
    margin-top: -3px;
  }
  .my-section {
    position: relative;
  }
  .navbar-expand-lg .navbar-nav {
    transform: translateY(36px);
    -webkit-transform: translateY(36px);
    -moz-transform: translateY(36px);
    -ms-transform: translateY(36px);
    -o-transform: translateY(36px);
  }

  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
  }
  .my-navbar img {
    margin-left: 0px;
    width: 200px;
    height: 120px;
    transform: translate(120px, -8px);
    margin-right: 5px;
    -webkit-transform: translate(120px, -8px);
    -moz-transform: translate(120px, -8px);
    -ms-transform: translate(120px, -8px);
    -o-transform: translate(120px, -8px);
  }
  .actives {
    color: white !important;
    background-color: #604239 !important;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 10px 20px 15px 20px !important;
  }
  .navbar-brand {
    margin-left: -78px;
    padding-left: 0;
    font-size: 2rem;
    font-weight: 700;
  }

  .dropdown {
    position: absolute;
    transform: translateX(380px);
    -webkit-transform: translateX(380px);
    -moz-transform: translateX(380px);
    -ms-transform: translateX(380px);
    -o-transform: translateX(380px);
    top: -101px;
    padding: 30px;
  }

  /* (RTL) */
  html[dir="rtl"] .my-navbar,
  :lang(ar) .my-navbar {
    margin-top: -5px;
    padding-block: 0px !important;
  }

  html[dir="rtl"] .my-navbar img,
  :lang(ar) .my-navbar img {
    width: 200px;
    height: 200px;
  }

  :lang(ar) .navbar-brand,
  html[dir="rtl"] .navbar-brand {
    margin-right: 160px;
    padding-right: 0;
  }

  :lang(ar) .my-section ul,
  html[dir="rtl"] .my-section ul {
    margin-left: 270px !important;
  }

  html[dir="rtl"] .dropdown,
  :lang(ar) .dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-535px);
    -webkit-transform: translateX(-535px);
    -moz-transform: translateX(-535px);
    -ms-transform: translateX(-535px);
    -o-transform: translateX(-535px);
    padding: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .my-section {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    position: relative;
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .navbar-brand {
    margin-top: 16px !important;
    margin-left: -63px;
  }
  .dropdown {
    position: absolute;
    transform: translateX(285px);
    -webkit-transform: translateX(285px);
    -moz-transform: translateX(285px);
    -ms-transform: translateX(285px);
    -o-transform: translateX(285px);
    top: -103px;
    padding: 30px;
  }
  html[dir="rtl"] .dropdown,
  :lang(ar) .dropdown {
    position: absolute;
    transform: translateX(-445px);
    -webkit-transform: translateX(-445px);
    -moz-transform: translateX(-445px);
    -ms-transform: translateX(-445px);
    -o-transform: translateX(-445px);
    top: -123px;
    padding: 30px;
  }

  html[dir="rtl"] .nav-item .nav-link,
  :lang(ar) .nav-item .nav-link {
    display: inline;
    white-space: nowrap;
    margin-inline: 0px !important;
  }
  html[dir="rtl"] .my-section ul,
  :lang(ar) .my-section ul {
    transform: translate(45px, 41px);
    -webkit-transform: translate(45px, 41px);
    -moz-transform: translate(45px, 41px);
    -ms-transform: translate(45px, 41px);
    -o-transform: translate(45px, 41px);
  }

  html[dir="rtl"] .navbar-brand,
  :lang(ar) .navbar-brand {
    margin-top: 30px !important;
    margin-right: 145px;
  }
  .my-navbar img {
    width: 150px;
    height: 120px;
  }
}
@media (min-width: 1400px) {
  .my-section {
    position: relative;
  }
  .my-navbar img {
    width: 150px;
    height: 120px;
  }
  .dropdown {
    position: absolute;
    transform: translateX(456px);
    -webkit-transform: translateX(456px);
    -moz-transform: translateX(456px);
    -ms-transform: translateX(456px);
    -o-transform: translateX(456px);
    top: -85px;
    padding: 30px;
  }
  html[dir="rtl"] .dropdown,
  :lang(ar) .dropdown {
    position: absolute;
    transform: translateX(-666px);
    -webkit-transform: translateX(-666px);
    -moz-transform: translateX(-666px);
    -ms-transform: translateX(-666px);
    -o-transform: translateX(-666px);
    top: -130px;
    padding: 30px;
  }
  .my-section ul.navbar-nav {
    transform: translateY(42px);
    -webkit-transform: translateY(42px);
    -moz-transform: translateY(42px);
    -ms-transform: translateY(42px);
    -o-transform: translateY(42px);
  }
  .navbar-brand {
    margin-top: 18px !important;
    margin-left: -66px;
  }

  html[dir="rtl"] .navbar-brand,
  :lang(ar) .navbar-brand {
    margin-right: 155px !important;
  }

  :lang(ar) .my-section ul,
  html[dir="rtl"] .my-section ul {
    margin-left: 370px !important;
    transform: translateY(43px);
    -webkit-transform: translateY(43px);
    -moz-transform: translateY(43px);
    -ms-transform: translateY(43px);
    -o-transform: translateY(43px);
  }
}
