.my-navbar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
  -moz-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  transition: top 0.5s ease;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
  position: fixed;
  padding: 0;
}

.my-navbar .logo-word {
  font-size: 2rem;
  color: #402c26;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.actives {
  color: #402c26 !important;
  font-weight: bold;
  text-decoration: none;
}
.nav-item .nav-link {
  transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
}
.nav-item .nav-link:hover {
  color: #a8a8a8 !important;
  font-weight: 500;
  text-decoration: none;
}
.menu-bar {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.pi-bars {
  font-size: 1.5rem;
  color: #402c26;
  text-align: center;
}
.navbar-toggler {
  border: 1px solid #402c26 !important;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}
.navbar-brand {
  display: flex;
  align-items: center;
  padding: 0;
}

.my-section .nav-link {
  cursor: pointer;
  color: black;
}

.pi-search,
.pi-shopping-cart {
  font-size: 1.2rem;
}
.my-btn {
  border: 2px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.my-btn:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (min-width: 320px) {
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-nav li {
    padding-bottom: 1px;
  }

  .navbar-toggler {
    transform: translate(6px, -2px);
    -webkit-transform: translate(6px, -2px);
    -moz-transform: translate(6px, -2px);
    -ms-transform: translate(6px, -2px);
    -o-transform: translate(6px, -2px);
  }
  .my-navbar img {
    margin-left: -8px;

    max-width: 140px;
  }
}
@media (min-width: 768px) {
  .my-navbar {
    padding: 15px 0;
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-nav li {
    padding-bottom: 10px;
  }
  .navbar-toggler {
    transform: translate(20px, -2px);
    -webkit-transform: translate(20px, -2px);
    -moz-transform: translate(20px, -2px);
    -ms-transform: translate(20px, -2px);
    -o-transform: translate(20px, -2px);
  }

  .my-navbar img {
    margin-left: -24px;
    max-width: 150px;
  }
  .my-padding {
    padding-inline: 30px;
  }
}
@media (min-width: 992px) {
  .my-navbar {
    padding-block: 5px;
  }

  .navbar-expand-lg .navbar-nav {
    transform: translateY(7px);
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
  }
  .my-navbar img {
    margin-left: 0px;
    width: 300px;
    height: 100px;
    transform: translateX(120px);
    -webkit-transform: translateX(120px);
    -moz-transform: translateX(120px);
    -ms-transform: translateX(120px);
    -o-transform: translateX(120px);
  }
  .my-navbar .logo-word {
    transform: translateY(6px);
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
  }
  .navbar-brand {
    margin-left: -20px;
    padding-left: 0;
    font-size: 2rem;
    font-weight: 700;
  }
  .my-section ul {
    margin-right: 120px;
  }
}
