.my-navbar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
  -moz-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  transition: top 0.5s ease;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
  position: fixed;
  padding: 0;
}





.nav-item .nav-link {
  transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  position: relative;
  box-shadow: none;
}
.nav-item .nav-link:hover {
  color: #FD6F1D!important;
  font-weight: 500;
  text-decoration: none;
}
.menu-bar {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.pi-bars {
  font-size: 1.5rem;
  color: #402c26;
  text-align: center;
}
.navbar-toggler {
  border: 1px solid #402c26 !important;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}
.navbar-brand {
  display: flex;
  align-items: center;
  padding: 0;
}

.my-section .nav-link {
  cursor: pointer;
  color: #402c26;
}

.pi-search,
.pi-shopping-cart {
  font-size: 1.2rem;
}
.btn-info {
  background-color: #FD7E35 !important;
  color: #402c26 !important;
  border: 1px solid #FD7E35 !important;
}

.btn-info.open {
  background-color: #604239 !important;
  color: #ffffff !important;
  border: 1px solid #604239 !important;
}
.dropdown button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.dropdown-item {
  text-align: center;
  width: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #B38B7F !important;
  color: #fff !important;
}

.dropdown .dropdown-item:focus {
  outline: none !important;
  box-shadow: none !important;
}



/* media query */
@media (min-width: 320px) {
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .my-section {
    margin-top: -45px;
    position: relative;
    display: flex;
  flex-direction: column;
  align-items: center;
  }
  .navbar-nav li {
    padding-bottom: 1px;
  }
.actives {
  color: white !important;
  background-color: #604239 !important;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 10px 20px 15px 20px;
}
  .navbar-toggler {
    transform: translate(4px, -2px);
    -webkit-transform: translate(4px, -2px);
    -moz-transform: translate(4px, -2px);
    -ms-transform: translate(4px, -2px);
    -o-transform: translate(4px, -2px);
    margin-right: 16px;
}
  .my-navbar img {
    margin-left: -8px;

    max-width: 140px;
  }
  .dropdown {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

}

.dropdown-item {
  text-align: center;
  width: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
}
.dropdown-menu.show {
  min-width: 0px !important;
  padding-block: 0px !important;
  margin-top: 1px !important;
  padding: 0.1rem 0.1rem !important;
}

.dropdown ul:hover{
  background-color: #B38B7F !important;
   color: #fff !important;

 }
html[dir="rtl"] .dropdown-toggle::after,
:lang(ar) .dropdown-toggle::after {
margin-right: 0.255em;
margin-left: 0;
}

  html[dir="rtl"] .dropdown,
:lang(ar) .dropdown {
  left: 50%;
  transform: translateX(-50%);


}
/* html[dir="rtl"] .dropdown ul,
  :lang(ar) .dropdown ul{
  transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  -o-transform: translateX(-40px);

}

html[dir="rtl"] .dropdown ul:hover,
  :lang(ar) .dropdown ul:hover{
 background-color: #B38B7F !important;
  color: #fff !important;
} */
  html[dir="rtl"] .my-section ul,
  :lang(ar) .my-section ul {
  margin-left: 40px !important;
}
}
@media (min-width: 768px) {
  .my-navbar {
    padding: 10px 0;
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-nav li {
    padding-bottom: 10px;
  }
  .my-section {
    margin-top: -45px;
    position: relative;
    display: flex;
  flex-direction: column;
  align-items: center;
  }
  .navbar-toggler {
    transform: translate(6px, -2px);
    -webkit-transform: translate(6px, -2px);
    -moz-transform: translate(6px, -2px);
    -ms-transform: translate(6px, -2px);
    -o-transform: translate(6px, -2px);
}
.actives {
  color: white !important;
  background-color: #604239 !important;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 10px 20px 15px 20px;
}
  .my-navbar img {
    margin-left: 13px;
    width: 200px;
    height: 100px;
  }
  .navbar-brand {
    padding-left: 0;
    font-size: 2rem;
    font-weight: 700;
  }
  .my-padding {
    padding-inline: 30px;
  }
  .dropdown {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

}
/* .dropdown-menu.show {
  min-width: 0px !important;
  padding-block: 0px !important;
  margin-top: 1px !important;
  padding: 0.1rem 0.1rem !important;
}

.dropdown ul:hover{
  background-color: #B38B7F !important;
   color: #fff !important;

 } */

  html[dir="rtl"] .dropdown,
:lang(ar) .dropdown {
  left: 50%;
  transform: translateX(-50%);

}
/* html[dir="rtl"] .dropdown ul,
  :lang(ar) .dropdown ul{
   margin-left: 327px;
  margin-top: -40px;
} */
html[dir="rtl"] .my-section ul,
  :lang(ar) .my-section ul{
  margin-top: 5px;
}

}

@media (min-width: 992px) {
  .my-navbar {
    padding-block: 0px;

}
.my-section {
  position: relative;
}
  .navbar-expand-lg .navbar-nav {
    transform: translateY(36px);
    -webkit-transform: translateY(36px);
    -moz-transform: translateY(36px);
    -ms-transform: translateY(36px);
    -o-transform: translateY(36px);
}

  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
  }
  .my-navbar img {
    margin-left: 0px;
    width: 200px;
    height: 100px;
    transform: translateX(120px);
    -webkit-transform: translateX(120px);
    -moz-transform: translateX(120px);
    -ms-transform: translateX(120px);
    -o-transform: translateX(120px);
    margin-right: 5px;
  }
.actives {
  color: white !important;
  background-color:
#604239 !important;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 10px 20px 15px 20px !important;
}
  .navbar-brand {
    margin-left: -78px;
    padding-left: 0;
    font-size: 2rem;
    font-weight: 700;
  }

.dropdown {
  position: absolute;
  transform: translateX(380px);
  -webkit-transform: translateX(380px);
  -moz-transform: translateX(380px);
  -ms-transform: translateX(380px);
  -o-transform: translateX(380px);
  top: -101px;
  padding: 30px;
}
/* .dropdown-menu.show {
  min-width: 0px !important;
  padding-block: 0px !important;
  margin-top: -27px !important;
  padding: 0.1rem 0.1rem !important;
}

.dropdown ul:hover{
  background-color: #B38B7F !important;
   color: #fff !important;

 } */
/* تخصيص اللغة العربية (RTL) */
:lang(ar) .my-navbar img,
html[dir="rtl"] .my-navbar img {
  width: 200px;
  height: 100px;
  margin-right: 0;
  transform: translateX(21px);
  -webkit-transform: translateX(21px);
  -moz-transform: translateX(21px);
  -ms-transform: translateX(21px);
  -o-transform: translateX(21px);
}

:lang(ar) .navbar-brand,
html[dir="rtl"] .navbar-brand {
  margin-right: 100px;
  padding-right: 0;
}

:lang(ar) .my-section ul,
html[dir="rtl"] .my-section ul {

  margin-left: 270px !important;
}

/* html[dir="rtl"] .dropdown-toggle::after,
:lang(ar) .dropdown-toggle::after {
margin-right: 0.255em;
margin-left: 0;
} */

html[dir="rtl"] .dropdown,
:lang(ar) .dropdown {
  position: absolute;
  left: 50%;
  transform: translateX(-538px);
  -webkit-transform: translateX(-538px);
  -moz-transform: translateX(-538px);
  -ms-transform: translateX(-538px);
  -o-transform: translateX(-538px);
  padding: 30px;
}
/* html[dir="rtl"] .dropdown-menu.show,
:lang(ar) .dropdown-menu.show {
  min-width: 0px !important;
  padding-block: 0px !important;
  margin-top: -27px !important;
  padding: 0.1rem 0.1rem !important;
}
html[dir="rtl"] .dropdown ul ,
:lang(ar) .dropdown ul {
  transform: translateX(-270px);
  -webkit-transform: translateX(-270px);
  -moz-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  -o-transform: translateX(-270px);
}
html[dir="rtl"] .dropdown ul:hover,
  :lang(ar) .dropdown ul:hover{
 background-color: #B38B7F !important;
  color: #fff !important;

} */

}
