<!-- Services Section -->
<div class="services">
  <div class="container">
  
    <!-- Section Title -->
    <div class="text-center mt-4 mb-5">
      <h2 class="featured-title" data-aos="zoom-in-up">
        Featured Services
        <i class="pi pi-star"></i>
      </h2>
    </div>

    <!-- Services Cards -->
    <div class="row">
      <div class="card-container"
           *ngFor="let service of services"
           [attr.data-aos]="'fade-up'"
           [attr.data-aos-duration]="'1000'"
           [attr.data-aos-delay]="(services.indexOf(service) * 200)">
        <div class="card custom-card h-100">
          <img [src]="service.image" class="card-img" alt="loading..">
          <div class="card-overlay">
            <h5 class="card-title">{{ service.title }}</h5>
            <p class="card-description">{{ service.description }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
