<footer class="footer text-white pt-5 pb-4 ">
  <div class="container text-center text-md-start mt-4">
    <div class="row">

      <!-- Logo and About -->
      <div class="col-md-3 col-lg-3 col-xl-3 mb-4">
        <h5 class="text-uppercase fw-bold mb-3 quick-link2">Soukna Masry</h5>
        <p>
          <a [routerLink]="['/']" fragment="home" appFragmentActive="home" class="text-white fw-semibold text-decoration-none quick-link2">
            Soukna Masry
          </a>
          brings people closer and makes buying and selling easier through a simple and human experience.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-2 col-lg-2 col-xl-2 mb-4">
        <h5 class="text-uppercase fw-bold mb-3 quick-link2">Quick Links</h5>
        <ng-container *ngFor="let link of quickLinks">
          <p class="mb-2">
            <a 
              [routerLink]="[link.routerLink]"
              [fragment]="link.fragment"
              appFragmentActive="{{ link.fragment }}"
              class="text-white text-decoration-none"
              *ngIf="link.fragment; else noFragment">
              {{ link.label }}
            </a>
            <ng-template #noFragment>
              <a [routerLink]="[link.routerLink]" class="text-white text-decoration-none">
                {{ link.label }}
              </a>
            </ng-template>
          </p>
        </ng-container>
      </div>

      <!-- Contact Info -->
      <div class="col-md-4 col-lg-3 col-xl-3 mb-4">
        <h5 class="text-uppercase fw-bold mb-3 quick-link2">Contact</h5>
        <p class="mb-2">
          <i class="pi pi-map-marker me-2 quick-link2"></i>{{ contactInfo.location }}
        </p>
        <p class="mb-2">
          <i class="pi pi-envelope me-2 quick-link2"></i>
          <a href="https://mail.google.com/mail/?view=cm&to=Souknamasry22@gmail.com" target="_blank" class="text-white text-decoration-none">
            Souknamasry22&#64;gmail.com
          </a>
        </p>
        <p class="mb-2">
          <i class="pi pi-phone me-2 quick-link2"></i>
          <a [href]="'tel:' + contactInfo.phone" class="text-white text-decoration-none">
            {{ contactInfo.phone }}
          </a>
        </p>
      </div>

      <!-- Social Media -->
      <div class="col-md-3 col-lg-4 col-xl-4 mb-4">
        <h5 class="text-uppercase fw-bold mb-3 quick-link2">Follow Us</h5>
        <div class="d-flex justify-content-md-start justify-content-center flex-wrap">
          <a *ngFor="let social of socialLinks"
             [href]="social.url"
             class="btn btn-outline-light btn-sm m-1 rounded-circle d-flex align-items-center justify-content-center"
             style="width: 36px; height: 36px;">
            <i class="pi quick-link" [ngClass]="social.icon"></i>
          </a>
        </div>
      </div>

    </div>

    <!-- Copyright -->
    <div class="row">
      <div class="col-12 text-center mt-4">
        <p class="text-white-50 mb-0">© 2025 All rights reserved - Soukna Masry</p>
      </div>
    </div>
  </div>
</footer>
