<footer class="footer pt-5 pb-4">
  <div class="container text-start text-md-start mt-4">
    <div class="row">

      <!-- Logo and About -->
      <div class="col-md-3 col-lg-3 col-xl-3 mb-4">
        <a [routerLink]="['/']" fragment="home" appFragmentActive="home" class="footer-logo-wrapper d-flex align-items-center mb-3">
          <img src="assets/images/souknamasry_logo.png" alt="Soukna Masry Logo" class="footer-logo me-2">
        </a>
        <p class="fs-5 fw-semibold pl-3">
          <a [routerLink]="['/']" fragment="home" appFragmentActive="home" class="t-color fw-bold text-decoration-none">
            Soukna Masry
          </a>
          {{des}}  
          </p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-3 col-lg-2 col-xl-2 mb-4 fs-5 fw-bold text-center">
        <h5 class="text-uppercase fw-bold mb-3 contact-icons">{{Links}}</h5>
        <ng-container *ngFor="let link of quickLinks">
          <p class="mb-2">
            <a 
              *ngIf="link.fragment; else noFragment"
              [routerLink]="[link.routerLink]"
              [fragment]="link.fragment"
              appFragmentActive="{{ link.fragment }}"
              class="th-color">
              {{ link.label }}
            </a>
            <ng-template #noFragment>
              <a [routerLink]="[link.routerLink]" class="th-color">
                {{ link.label }}
              </a>
            </ng-template>
          </p>
        </ng-container>
      </div>

      <!-- Contact Info -->
      <div class="col-md-3 col-lg-3 col-xl-3 mb-4 offset-lg-1 fs-5 fw-bold custom-margin-start">
        <h5 class="text-uppercase fw-bold mb-3 contact-icons">Contact</h5>
        <p class="mb-2">
          <i class="pi pi-map-marker me-2 contact-icons"></i>{{ contactInfo.location }}
        </p>
        <p class="mb-2 d-flex align-items-center center-on-mobile">
          <i class="pi pi-envelope me-2 contact-icons"></i>
          <a href="https://mail.google.com/mail/?view=cm&to=Souknamasry22@gmail.com" target="_blank" class="th-color">
            Souknamasry22&#64;gmail.com
          </a>
        </p>
        <p class="mb-2">
          <i class="pi pi-phone me-2 contact-icons"></i>
          <a [href]="'tel:' + contactInfo.phone" class="th-color">
            {{ contactInfo.phone }}
          </a>
        </p>
      </div>

      <!-- Social Media -->
      <div class="col-md-3 col-lg-3 col-xl-3 mb-4 fs-5 fw-semibold ">
        <h5 class="text-uppercase fw-bold mb-3 contact-icons">Follow Us On Social Media</h5>
        <div class="mt-3 d-flex justify-content-center flex-wrap gap-2">
          <ng-container *ngFor="let social of socialLinks">
            <a
              [href]="social.url"
              target="_blank"
              class="btn d-inline-flex align-items-center justify-content-center social-icon">
              <i class="pi icons" [ngClass]="social.icon"></i>
            </a>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="row">
      <div class="col-12 text-center mt-4">
        <p class="mb-0">{{copyright}}</p>
      </div>
    </div>
  </div>
</footer>
